@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@600&family=Noto+Sans:ital,wght@0,600;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@200&family=Noto+Sans:ital,wght@0,600;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@300&family=Noto+Sans:ital,wght@0,300;1,300&display=swap" rel="stylesheet');


body {
  margin: 0;
  font-family: "Noto Sans", sans-serif !important;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  h1{
    font-family: "Noto Sans Display", sans-serif !important;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 2.7rem;
  }

  h2{
    font-family: "Noto Sans Display", sans-serif !important;
    font-weight: regular;
    font-size: 1.5rem;
    line-height: 2.7rem;
  }

  h5 {
    font-family: "Noto Sans Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    text-transform: uppercase;
    font-variation-settings:
    "wdth" 100;
  }

  h6 {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-variation-settings:
    "wdth" 100;

    font-size: 1em;
  }

  .bold {
    font-family: "Noto Sans Display", sans-serif !important;
    font-weight: bold;
  }

 .no-bold{
    font-weight: normal !important;
  }

  .dropdown a {
    font-family: "Noto Sans Light", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
    "wdth" 300;
    text-decoration:none;

    font-size: .95em;
  }

  p{
    font-family: "Noto Sans Light", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
    "wdth" 300;

    text-align:justify;
    width:95%;
  }
}
